<div class="container">
    <div class="starter-template">

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <form [formGroup]="setWebhookForm">
                        <label for="basic-url">Your domain</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-url2">https://</span>
                            </div>
                            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-url2" formControlName="domainName">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-token" #botToken>Token</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Bot Token" aria-label="Username" aria-describedby="basic-token" formControlName="botToken">
                        </div>

                        <div class="input-group mb-3">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupCertificate" formControlName="certificate">
                                <label class="custom-file-label" for="inputGroupCertificate">Choose your certificate</label>
                            </div>
                        </div>


                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-success" (click)="setWebhook()">setWebhook</button>
                            <button type="button" class="btn btn-outline-info" (click)="getWebhookInfo()">getWebhook Info</button>
                            <button type="button" class="btn btn-outline-danger" (click)="deleteWebhook()">Delete Webhook</button>
                        </div>

                    </form>
                </div>

                <div class="col-sm">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Response</span>
                        </div>
                        <textarea class="form-control" aria-label="Response" disabled rows="6">{{setWebhookResponse}}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>